<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Trip Planner</title>

	<!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Raleway:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
</head>
<body>
	<!-- Nav Bar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" id="navIcon">
	  	<img src="https://theme.zdassets.com/theme_assets/1592744/78ea6b98e0402a8f12fd6dcea5b12a39eb4cf5b0.png" width="38" height="38">
	  </a>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <ul class="nav navbar-nav navbar-right">
          <li class="nav-item" role="presentation">
            <a class="nav-link">Trip Planner</a>
          </li>
      	</ul>
	  </div>
	</nav>

	
	<!-- Jumpotron -->
	<div class="jumbotron"></div>

	<!-- Experience Lists -->
	<section class="mainList"></section>

	<!-- footer -->
	<footer class="clearfix">
	    <p class="copyright">Copyright 2017</p>
	    <p class="message">Created with &hearts; by <span class="name">GA</span></p>
	</footer>
</body>
</html>