.navbar-right {
    margin-left: 420px;
}

#navMid {
    color: #340D0D;
    font-size: 37px;
    font-weight: 700;
    font-family: "Montserrat", "sans-seriff";
}


.jumbotron {
    background-image: url('/images/6.jpg');
    height: 300px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: 0.08em;
}

.copyright {
    font-family: Raleway;
    float: left;
    margin-top: 17px;
}
.message {
    font-family: Raleway;
    float: right;
    margin-top: 17px;
}
.experienceBody {
  max-width: 920px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.experienceContent {
  -webkit-box-flex: 0;
  position: relative;
  flex: 0 0 66.66666%;
  max-width: 66.666666%;
  display: block;
}
.experienceSidebar {
  position: relative;
  -webkit-box-flex: 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  display: block;
}
