

.form-horizontal {
    border-radius: 50px;
    border: 2px solid #73AD21;
    padding: 10px;
    margin-left: 130px;
    width: 1000px 
}

.headline {
  text-align: center;
  font-size: 50px;
  color: #804000;
  font-family: 'Passion One', cursive;
}

.col-4 {
  left: 65px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-radius: 20px;
}



.form-group {
  display: flex;
  text-align: center;
}

.formName {
  text-align: center;
}

.experienceSidebar {
    position: fixed;
    left: 600px;
    bottom: 400px
}

.navbar {
  padding: 0;
}

/*.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}
*/

.imgIcon {
  margin-left: 20px;
}

#navMid {

    color: #C13939;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Passion One', cursive;

}


.jumbotron {
    background-image: url('/images/6.jpg');
    height: 300px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: 0.08em;
}

.iconPhoto {
    border: 1px solid;
    border-radius: 4px;
    width: 250px;
    height: 150px;
}

#topright {
    position: absolute;
    left: 700px;
    top: 0;
    /*display: block;*/
    height: 305px;
    width: 305px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB1tQAyFBVlXbhJAGSDVFOwrhE2_plHbL0iresHTahinW_MN1Vrw');
    background-repeat: no-repeat;
    
}

.locat {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200px;
}

.copyright {
    font-family: Raleway;
    float: left;
    margin-top: 17px;
}
.message {
    font-family: Raleway;
    float: right;
    margin-top: 17px;
}
.experienceBody {
  margin-top: 30px; 
  max-width: 920px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto Slab', serif;
}
.experienceContent {
  -webkit-box-flex: 0;
  position: relative;
  flex: 0 0 66.66666%;
  max-width: 66.666666%;
  display: block;
}
.experienceSidebar {
  position: relative;
  -webkit-box-flex: 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  display: block;
 
}

.hidden {
    display: none
}